<mat-card appearance='outlined' class='card-primary back_light-title'>
  <div class='row'>
    <div class='col-3'>
      <button class='botonGris' (click)='goInicio()'>
        <mat-icon
          aria-hidden='false'
          aria-label='Example home icon'
          fontIcon=' keyboard_backspace'
        ></mat-icon>
      </button>
    </div>
    <div class='col-6'>
      <mat-card-content>
        <p class='title'>Ver Información </p>
      </mat-card-content>
    </div>
    <div class='col-3'>
      <button class='botonGris-icon' (click)='openHelper()'>
        <mat-icon
          aria-hidden='false'
          aria-label='Example home icon'
          fontIcon='help'
        ></mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<div>
  <mat-card appearance='outlined'>
    <p>Información del menu con número de identificación : {{ id_menu }}</p>
    <mat-card-content>
      <form>
        <div class='row mt-5'>
          <div class='col-3'>
            <mat-form-field class='example-full-width'>
              <mat-label>id_roll</mat-label>
              <input
                type='text'
                matInput 
                [(ngModel)]='id_roll'
                name = 'id_roll'
                id = 'id_roll'
                disabled='true'
              />
            </mat-form-field>
          </div>
          @if (errorid_roll) { 
            <mat-error>Error: Falta descripción en este parámetro.</mat-error>
          }
          <div class='col-3'>
            <mat-form-field class='example-full-width'>
              <mat-label>titulo</mat-label>
              <input
                type='text'
                matInput 
                [(ngModel)]='titulo'
                name = 'titulo'
                id = 'titulo'
                disabled='true'
              />
            </mat-form-field>
          </div>
          @if (errortitulo) { 
            <mat-error>Error: Falta descripción en este parámetro.</mat-error>
          }
          <div class='col-3'>
            <mat-form-field class='example-full-width'>
              <mat-label>direccion_url</mat-label>
              <input
                type='text'
                matInput 
                [(ngModel)]='direccion_url'
                name = 'direccion_url'
                id = 'direccion_url'
                disabled='true'
              />
            </mat-form-field>
          </div>
          @if (errordireccion_url) { 
            <mat-error>Error: Falta descripción en este parámetro.</mat-error>
          }
        </div> 
      </form>
    </mat-card-content>
  </mat-card>
</div>
