  
.example-form { 
  min-width: 150px; 
  max-width: 500px; 
  width: 100%; 
} 

.example-full-width { 
  width: 100%; 
} 

.example-card { 
  max-width: 500px; 
} 

.example-card2 { 
  max-width: 900px; 
} 
.example-full-width-text{ 
  width: 90%; 
  height: 77%; 
  color: #000000; 
} 


.cont { 
  width: 1000px; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
} 

.cont .btn { 
  position: relative; 
  top: 0; 
  left: 0; 
  width: 750px; 
  height: 50px; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 

.cont .btn .botonAlmacenar{ 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: rgba(255, 255, 255, 0.05); 
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
  border-top: 1px solid rgba(255, 255, 255, 0.1); 
  border-radius: 30px; 
  padding: 10px; 
  letter-spacing: 1px; 
  text-decoration: none; 
  overflow: hidden; 
  //color: #fff; 
  font-weight: 400px; 
  z-index: 1; 
  transition: 0.5s; 
  backdrop-filter: blur(15px); 
  border-color: #00000000; 
} 

.cont .btn:hover  { 
  letter-spacing: 3px; 
} 

.cont .btn .botonAlmacenar::before { 
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 50%; 
  height: 100%; 
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent); 
  transform: skewX(45deg) translate(0); 
  transition: 0.5s; 
  filter: blur(0px); 
} 

.cont .btn:hover .botonAlmacenar::before { 
  transform: skewX(45deg) translate(200px); 
} 

.cont .btn::before { 
  content: ''; 
  position: absolute; 
  left: 50%; 
  transform: translatex(-50%); 
  bottom: -5px; 
  width: 30px; 
  height: 10px; 
  background: #f00; 
  border-radius: 10px; 
  transition: 0.5s; 
  transition-delay: 0.5; 
} 

.cont .btn:hover::before /*lightup button*/ { 
  bottom: 0; 
  height: 50%; 
  width: 80%; 
  border-radius: 30px; 
} 

.cont .btn::after { 
  content: ''; 
  position: absolute; 
  left: 50%; 
  transform: translatex(-50%); 
  top: -5px; 
  width: 30px; 
  height: 10px; 
  background: #f00; 
  border-radius: 10px; 
  transition: 0.5s; 
  transition-delay: 0.5; 
} 

.cont .btn:hover::after /*lightup button*/ { 
  top: 0; 
  height: 50%; 
  width: 80%; 
  border-radius: 30px; 
} 

.cont .btn:nth-child(1)::before, 
.cont .btn:nth-child(1)::after { 
  background: #1eff45; 
  box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45 
  0 0 60px #1eff45; 
} 

//boton siguiente paso-------------------------------------------
.contNext { 
  width: 1000px; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
 
} 

.contNext .btn { 
  position: relative; 
  top: 0; 
  left: -331px; 
  width: 350px; 
  height: 50px; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 

.contNext .btn .botonSiguientePaso{ 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: rgba(255, 255, 255, 0.05); 
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
  border-top: 1px solid rgba(255, 255, 255, 0.1); 
  border-radius: 30px; 
  padding: 10px; 
  letter-spacing: 1px; 
  text-decoration: none; 
  overflow: hidden; 
  //color: #fff; 
  font-weight: 400px; 
  z-index: 1; 
  transition: 0.5s; 
  backdrop-filter: blur(15px); 
  border-color: #00000000; 
   color: #000000;
} 

.contNext .btn:hover  { 
  letter-spacing: 5px; 
} 

.contNext .btn .botonSiguientePaso::before { 
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 50%; 
  height: 100%; 
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent); 
  transform: skewX(45deg) translate(0); 
  transition: 0.5s; 
  filter: blur(0px); 
} 

.contNext .btn:hover .botonSiguientePaso::before { 
  transform: skewX(45deg) translate(200px); 
} 

.contNext .btn::before { 
  content: ''; 
  position: absolute; 
  left: 50%; 
  transform: translatex(-50%); 
  bottom: -5px; 
  width: 30px; 
  height: 10px; 
  background: #f00; 
  border-radius: 10px; 
  transition: 0.5s; 
  transition-delay: 0.5; 
} 

.contNext .btn:hover::before /*lightup button*/ { 
  bottom: 0; 
  height: 50%; 
  width: 80%; 
  border-radius: 30px; 
} 

.contNext .btn::after { 
  content: ''; 
  position: absolute; 
  left: 50%; 
  transform: translatex(-50%); 
  top: -5px; 
  width: 30px; 
  height: 10px; 
  background: #f00; 
  border-radius: 10px; 
  transition: 0.5s; 
  transition-delay: 0.5; 
} 

.contNext .btn:hover::after /*lightup button*/ { 
  top: 0; 
  height: 50%; 
  width: 80%; 
  border-radius: 30px; 
} 

.contNext .btn:nth-child(1)::before, 
.contNext .btn:nth-child(1)::after { 
  background: rgba(92, 12, 12, 0.37); 
  box-shadow: 0 0 5px #f00, 0 0 25px #f00 
  0 0 60px #f00;
 
} 

//---------------------------------------------------------------
  //boton gris------------------------------------ 

.botonGris, 
  [role=button] { 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  outline: none; 
  cursor: pointer; 
  width: 150px; 
  height: 30px; 
  min-height: 75%; 
  margin-top: 3px; 
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px; 
  border: 1px solid #8F9092; 
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8px #00000000, 0 -4px 4prgba(0, 0, 0, 0)00, 0 -6px 4px #00000000, inset 0 0 3px rgba(0, 0, 0, 0)00; 
  transition: all 0.2s ease; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 14px; 
  font-weight: 600; 
  color: #606060; 
  text-shadow: 0 1px #fff; 

} 

.botonGris::-moz-focus-inner, 
  [role=button]::-moz-focus-inner { 
  border: 0; 
} 

.botonGris>*, 
  [role=button]>* { 
  transition: transform 0.2s ease; 
} 

.botonGris:hover:not([disabled]), 
  [role=button]:hover:not([disabled]) { 
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px  
} 

.botonGris:hover:not([disabled])>*, 
  [role=button]:hover:not([disabled])>* { 
  transform: scale(0.975); 
} 

.botonGris:focus:not(:active), 
  [role=button]:focus:not(:active) { 
  -webkit-animation: active 0.9s alternate infinite; 
  animation: active 0.9s alternate infinite; 
  outline: none; 
} 

.botonGris:active:not([disabled]), 
  [role=button]:active:not([disabled]) { 
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8p 
} 

.botonGris:active:not([disabled])>*, 
  [role=button]:active:not([disabled])>* { 
  transform: scale(0.95); 
} 

.botonGris:disabled, 
  [role=button]:disabled { 
  opacity: 0.6; 
  cursor: not-allowed; 
} 

.botonGris.icon, 
  [role=button].icon { 
  width: 50px; 
} 

.botonGris.icon svg, 
  [role=button].icon svg { 
  margin-top: -30px; 
  width: 30px; 
  height: 30px; 
} 


.botonGris-icon, 
  [role=button] { 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  outline: none; 
  cursor: pointer; 
  width: 50px; 
  height: 45px; 
  min-height: 85%; 
  margin-top: 1px; 
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%); 
  border-radius: 30px; 
  border: 1px solid #8F9092; 
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8px #00000000, 0 -4px 4prgba(0, 0, 0, 0)00, 0 -6px 4px #00000000, inset 0 0 3px rgba(0, 0, 0, 0)00; 
  transition: all 0.2s ease; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 14px; 
  font-weight: 600; 
  color: #606060; 
  text-shadow: 0 1px #fff; 
  margin-left: 80%; 
} 

.botonGris-icon::-moz-focus-inner, 
  [role=button]::-moz-focus-inner { 
  border: 0; 
} 

.botonGris-icon>*, 
  [role=button]>* { 
  transition: transform 0.2s ease; 
} 

.botonGris-icon:hover:not([disabled]), 
  [role=button]:hover:not([disabled]) { 
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px  
} 

.botonGris-icon:hover:not([disabled])>*, 
  [role=button]:hover:not([disabled])>* { 
  transform: scale(0.975); 
} 

.botonGris-icon:focus:not(:active), 
  [role=button]:focus:not(:active) { 
  -webkit-animation: active 0.9s alternate infinite; 
  animation: active 0.9s alternate infinite; 
  outline: none; 
} 

.botonGris-icon:active:not([disabled]), 
  [role=button]:active:not([disabled]) { 
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8p 
} 

.botonGris-icon:active:not([disabled])>*, 
  [role=button]:active:not([disabled])>* { 
  transform: scale(0.95); 
} 

.botonGris-icon:disabled, 
  [role=button]:disabled { 
  opacity: 0.6; 
  cursor: not-allowed; 
} 

.botonGris-icon.icon, 
  [role=button].icon { 
  width: 50px; 
} 

.botonGris-icon.icon svg, 
  [role=button].icon svg { 
  margin-top: -30px; 
  width: 30px; 
  height: 30px; 
} 


.botonGris-check { 
  flex: 1; 
  display: flex; 
  //  align-items: center; 
  //  justify-content: center; 
  outline: invert; 
  cursor: pointer; 
  width: 50%; 
  min-height: 20%; 
  margin-top: 50%; 
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%); 
  border-radius: 30px; 
  border: 1px solid #8F9092; 
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8px #00000000, 0 -4px 4prgba(0, 0, 0, 0)00, 0 -6px 4px #00000000, inset 0 0 3px rgba(0, 0, 0, 0)00; 
  transition: all 0.2s ease; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 14px; 
  font-weight: 600; 
  color: #606060; 
  text-shadow: 0 1px #fff; 
  margin-top: 5%; 
} 

.boton-save, [role=button] { 
   -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 


  outline: none; 
  cursor: pointer; 
  width: 200px; 
  height: 40px; 
  min-height: 100%; 
  margin-top: 2px; 
  background-image: linear-gradient(to top, #001f5c00 0%, #ffffff00 rgba(253, 253, 253, 0)DFDFD 100%); 
  border-radius: 30px; 
  border: 1px solid #8F9092; 
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8px #00000000, 0 -4px 4prgba(0, 0, 0, 0)00, 0 -6px 4px #00000000, inset 0 0 3px rgba(0, 0, 0, 0)00;
  transition: all 0.2s ease; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 14px; 
  font-weight: 600; 
  color: #606060; 
  text-shadow: 0 1px #fff; 
  text-align: center; 



} 

.boton-save.icon{ 
  width: 150px; 
  max-width: 150%; 
  margin-top: 70%; 
  display: flex; 
  flex: 1; 
  justify-content: flex-end; 
  margin-top: 0%; 

} 

.boton-save.p{ 
  width: 150px; 
  max-width: 150%; 
  margin-top: 70%; 
  display: flex; 
  flex: 1; 
  justify-content: flex-end; 
  margin-top: -100%; 

} 

.boton-derecha{ 
  display: flex; 
  flex: 1; 
  justify-content: flex-end; 
} 

.textoBoton{ 
  text-align: center; 
} 

.renglon1{
  background-color: #ebe3e3;
  font-size: large;
  font-weight: bold;
  text-align: justify;
}
.renglon2{
  background-color: #ececec;
  font-size: large;
  font-weight: bold;
  text-align: justify;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

// .mat-mdc-form-field {
//   margin-top: 16px;
// }


.imagen-hover {
  transition: transform 0.3s ease;
}

.imagen-hover:hover {
  transform: scale(1.2);
  z-index: 10;
}

.card_firmante{
  background-image: url("../../../../../public/opdm-logo.png");
  background-size: 15%;
  background-repeat: no-repeat;
  background-position-x: 5%; 
  background-position-y:83%; 
background-color: rgba(233, 231, 231, 0.301);
// color: white;
}

.card_quien_asigno{
  background-image: url("../../../../../public/opdm-logo.png");
  background-size: 15%;
  background-repeat: no-repeat;
  background-position-x: 94%; 
  background-position-y: 80%; 
background-color: rgba(233, 231, 231, 0.301);
// color: white;
}


//panel de vidrio

.panel-vidrio {
  // width: 100%;
  // height: auto;
  // padding: 2rem;
  // border-radius: 1rem;
  // font-size: 1rem;
  // color:black;
  // background: rgba(168, 140, 140, 0.25);
	// -webkit-backdrop-filter: blur(5px);
	// backdrop-filter: blur(5px);
  // border: 1.5px solid rgba(209, 213, 219, 0.3);
 position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
}

.panel-vidrio-title {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.panel-vidrio p{
  margin-bottom: 1.5rem;
}
.panel-vidrio  a {
  background-color: #6363db;
 border-radius: 0.5rem;
 color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

// /* Hilo de luz animado */
// .panel-vidrio::before {
//   content: "";
//   position: absolute;
//   top: -100%;
//   left: -50%;
//   width: 200%;
//   height: 300%;
//   background: linear-gradient(
//     100deg,
//     rgba(255, 255, 255, 0) 0%,
//     rgba(255, 255, 255, 0.2) 45%,
//     rgba(255, 255, 255, 0.6) 50%,
//     rgba(255, 255, 255, 0.2) 55%,
//     rgba(255, 255, 255, 0) 100%
//   );
//   transform: rotate(0deg);
//   animation: hiloLuz 10s linear infinite;
//   pointer-events: none;
//   z-index: 1;
// }

// @keyframes hiloLuz {
//   0% {
//     transform: translateX(-100%) translateY(-100%) rotate(25deg);
//   }
//   100% {
//     transform: translateX(100%) translateY(100%) rotate(25deg);
//   }
// }




.example-card {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 600px;
}

.example-section {
  display: block;
  padding: 1rem;
  pointer-events: auto;
}

.RadialProgress {
  --hue: 220;
  --holesize: 65%;
  --track-bg: hsl(233 34% 92%);
  
  block-size: 50vmin;
  inline-size: 50vmin;
  min-inline-size: 100px;
  min-block-size: 100px;
  display: grid;
  place-items: center;
  position: relative;
  font-weight: 700;
  font-size: max(10vmin, 1.4rem);
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    background: conic-gradient(
      hsl(var(--hue) 100% 70%),
      hsl(var(--hue) 100% 40%),
      hsl(var(--hue) 100% 70%) var(--progress, 0%),
      var(--track-bg) var(--progress, 0%) 100%
    );
    
    mask-image: radial-gradient(
      transparent var(--holesize),
      black calc(var(--holesize) + 0.5px)
    );
  }
}

.mic-indicator {
  margin-top: 10px;
  font-weight: bold;
  color: #d32f2f;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.card-activo{
  background-image: url("../../../../../public/opdm-logo.png");
  background-size: 12%;
  background-repeat: no-repeat;
  background-position-x: 93%; 
  background-position-y: 95%; 
  background-color: rgba(207, 200, 200, 0.212);
  
}

.card-inactivo{
  // background-image: url("../../../../../public/opdm-logo.png");
  // background-size: 15%;
  // background-repeat: no-repeat;
  // background-position-x: 98%; 
  // background-position-y: 98%; 
  background-color: rgba(80, 8, 8, 0.438);
}

.card-activo .panel-vidrio::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -50%;
  width: 200%;
  height: 300%;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 45%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 55%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(0deg);
  animation: hiloLuz 5s linear infinite;
  pointer-events: none;
  z-index: 1;
}

@keyframes hiloLuz {
  0% {
    transform: translateX(-100%) translateY(-100%) rotate(25deg);
  }
  100% {
    transform: translateX(100%) translateY(100%) rotate(25deg);
  }
}

.panel-vidrio {
  position: relative;
  background: rgba(255, 255, 255, 0);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
}

.panel-vidrio:hover {
  background-image: url("../../../../../public/rojo_normal.png");
  background-size: 9%;
  background-repeat: no-repeat;
  background-position-x: 15%; 
  background-position-y: 60%; 
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

// .heartbeat {
//   animation: heartbeat 10s infinite;
// }

// @keyframes heartbeat {
//   0% { transform: scale(1); }
//   25% { transform: scale(1.05); }
//   50% { transform: scale(1); }
//   75% { transform: scale(1.05); }
//   100% { transform: scale(1); }
// }
