@if(this.loading  ==  true){
  <mat-card appearance='outlined' class='loadingPanel'>
    <mat-card-content>
      <div class='loader'></div>
      <div class=' loadingPanelTitulo'></div>
    </mat-card-content>
  </mat-card>
  <mat-card appearance='outlined' class='loadingPanelTitulo'>
    <mat-card-content>
      <h5>Procesando</h5>
    </mat-card-content>
  </mat-card>
} @else{
<mat-card appearance='outlined' class='card-primary back_light-title'>
  <div class='row'>
    <div class='col-3'>
      <button class='botonGris' (click)='goInicio()'>
        <mat-icon
          aria-hidden='false'
          aria-label='Example home icon'
          fontIcon=' keyboard_backspace'
        ></mat-icon>
      </button>
    </div>
    <div class='col-6'>
      <mat-card-content>
        <p class='title'>Actualizar Información </p>
      </mat-card-content>
    </div>
    <div class='col-3'>
      <button class='botonGris-icon' (click)='openHelper()'>
        <mat-icon
          aria-hidden='false'
          aria-label='Example home icon'
          fontIcon='help'
        ></mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<div>
  <mat-card appearance='outlined'>
    <p>Información del rolles con número de identificación : {{ id_roll }}</p>
    <mat-card-content>
      <form>
        <div class='row mt-5'>
          <div class='col-3'>
            <mat-form-field class='example-full-width'>
              <mat-label>descripcion</mat-label>
              <input
                type='text'
                matInput 
                [(ngModel)]='descripcion'
                name = 'descripcion'
                id = 'descripcion'
              />
            </mat-form-field>
          </div>
          @if (errordescripcion) { 
            <mat-error>Error: Falta descripción en este parámetro.</mat-error>
          }
          <div class='col-3'> 
            <mat-slide-toggle 
              class='botonGris-check' 
              [(ngModel)]='resultadocrear' 
              name='crear'
              (change)="Evaluacion(3)" 
            >crear : {{ crear }} 
            </mat-slide-toggle>
            @if (errorcrear) { 
              <mat-error>Error: Falta información en este campo.</mat-error> 
            } 
          </div> 
          <div class='col-3'> 
            <mat-slide-toggle 
              class='botonGris-check' 
              [(ngModel)]='resultadover' 
              name='ver'
              (change)="Evaluacion(4)" 
            >ver : {{ ver }} 
            </mat-slide-toggle>
            @if (errorver) { 
              <mat-error>Error: Falta información en este campo.</mat-error> 
            } 
          </div> 
          <div class='col-3'> 
            <mat-slide-toggle 
              class='botonGris-check' 
              [(ngModel)]='resultadoeditar' 
              name='editar'
              (change)="Evaluacion(5)" 
            >editar : {{ editar }} 
            </mat-slide-toggle>
            @if (erroreditar) { 
              <mat-error>Error: Falta información en este campo.</mat-error> 
            } 
          </div> 
        </div>
        <div class='row'>
          <div class='col-3'> 
            <mat-slide-toggle 
              class='botonGris-check' 
              [(ngModel)]='resultadoeliminar' 
              name='eliminar'
              (change)="Evaluacion(6)" 
            >eliminar : {{ eliminar }} 
            </mat-slide-toggle>
            @if (erroreliminar) { 
              <mat-error>Error: Falta información en este campo.</mat-error> 
            } 
          </div> 
        </div> 
        <div class='row mt-5'>
          <div class='col-6'></div>
            <div class='col-3 boton-derecha'>
              <div class='cont'>
                <div class='btn'>
                  <button class='botonAlmacenar' (click)="actualizar()">
                    <mat-icon
                      aria-hidden='false'
                      aria-label='Example home icon'
                      fontIcon='save'
                      class='textoBoton'
                    ></mat-icon>
                     Actualizar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
}
