mat-form-field{
  width: 100%;
}

body{
  height: 50px;
}

.carta {
  min-width: 100%;
  height: 100px;
  background-color: #00000000;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 10px;   
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.carta:after {
  position: absolute;
  content: '';
  top: 1vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 90%;
  width: 90%;
  margin: 2 auto;
  transform: scale(0.50);
  -webkit-filter: blur(6vw);
  -moz-filter: blur(6vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #00AACE, #fcfcfc);
  background-size: 200% 200%;
  animation: animateGlowTitle 10s ease infinite;
}

.icono {
  font-size: 800%;
  margin-top: 15%;
  margin: 20 auto;
  width: 500%;
  height: 300px;
  max-width:50px;
  min-width: 30%;
  min-height: 35%;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 30px;
  background-size: 300px;
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

.titulo {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  //color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.texto {
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: -10px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0;
  max-height:0;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.carta:hover {
  height: 100px;
  background: linear-gradient(90deg, #00000000, #00000000); 
}

.carta:hover .info {
  height: 90%;
}

.carta:hover .titulo {
  margin-top: 15%;
}

.carta:hover .texto {
  transition: all 0.3s ease;
  opacity: 2;
  max-height:100px;
  margin-top: -10%;
  font-size: 20px;
  font-weight: bold;
}

.carta:hover .icono {
  min-width: 30%;
  min-height: 50%;
  background-position: -300px;
  transition: all 0.3s ease;
  margin-top: 1%;
}

.carta:hover .icono i {
  background: linear-gradient(90deg, #000000c0, #000000); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}
      
.title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 0px;
  //color: white;
  font-weight: 100%;
  font-size: xx-large;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
    
//boton gris--------------------------------------------->

.botonGris,
  [role=button] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 30px;
  min-height: 75%;
  margin-top: 3px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8px #00000000, 0 -4px 4prgba(0, 0, 0, 0)00, 0 -6px 4px #00000000, inset 0 0 3px rgba(0, 0, 0, 0)00;
  transition: all 0.2s ease;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.botonGris::-moz-focus-inner,
  [role=button]::-moz-focus-inner {
  border: 0;
}

.botonGris>*,
  [role=button]>* {
  transition: transform 0.2s ease;
}

.botonGris:hover:not([disabled]),
  [role=button]:hover:not([disabled]) {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.botonGris:hover:not([disabled])>*,
  [role=button]:hover:not([disabled])>* {
  transform: scale(0.975);
}

.botonGris:focus:not(:active),
  [role=button]:focus:not(:active) {
  -webkit-animation: active 0.9s alternate infinite;
  animation: active 0.9s alternate infinite;
  outline: none;
}

.botonGris:active:not([disabled]),
  [role=button]:active:not([disabled]) {
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8prgba(0, 0, 0, 0)00, 0 -4px 4px #000000, 0 -6px 4px #fefefe00, inset 0 0 5px 3px #99999900, inset 0 0 30px #aaaaaa00;
}

.botonGris:active:not([disabled])>*,
  [role=button]:active:not([disabled])>* {
  transform: scale(0.95);
}

.botonGris:disabled,
  [role=button]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.botonGris.icon,
  [role=button].icon {
  width: 50px;
}

.botonGris.icon svg,
  [role=button].icon svg {
  margin-top: -30px;
  width: 30px;
  height: 30px;
}

.botonGris-icon,
  [role=button] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 80px;
  height: 70px;
  min-height: 105%;
  margin-top: 1px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8px #00000000, 0 -4px 4prgba(0, 0, 0, 0)00, 0 -6px 4px #00000000, inset 0 0 3px rgba(0, 0, 0, 0)00;
  transition: all 0.2s ease;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  margin-left: 80%;
}

.botonGris-icon::-moz-focus-inner,
  [role=button]::-moz-focus-inner {
  border: 0;
}

.botonGris-icon>*,
  [role=button]>* {
  transition: transform 0.2s ease;
}

.botonGris-icon:hover:not([disabled]),
  [role=button]:hover:not([disabled]) {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.botonGris-icon:hover:not([disabled])>*,
  [role=button]:hover:not([disabled])>* {
  transform: scale(0.975);
}

.botonGris-icon:focus:not(:active),
  [role=button]:focus:not(:active) {
  -webkit-animation: active 0.9s alternate infinite;
  animation: active 0.9s alternate infinite;
  outline: none;
}

.botonGris-icon:active:not([disabled]),
  [role=button]:active:not([disabled]) {
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8prgba(0, 0, 0, 0)00, 0 -4px 4px #000000, 0 -6px 4px #fefefe00, inset 0 0 5px 3px #99999900, inset 0 0 30px #aaaaaa00;
}

.botonGris-icon:active:not([disabled])>*,
  [role=button]:active:not([disabled])>* {
  transform: scale(0.95);
}

.botonGris-icon:disabled,
  [role=button]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.botonGris-icon.icon,
  [role=button].icon {
  width: 50px;
}

.botonGris-icon.icon svg,
  [role=button].icon svg {
  margin-top: -30px;
  width: 30px;
  height: 30px;
}

.botonGris-check {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: invert;
  // //   cursor: pointer;
  width: 50%;
  min-height: 55%;
  margin-top: 50%;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8px #00000000, 0 -4px 4prgba(0, 0, 0, 0)00, 0 -6px 4px #00000000, inset 0 0 3px rgba(0, 0, 0, 0)00;
  transition: all 0.2s ease;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  margin-top: 5%;
}

.boton-save, [role=button] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 40px;
  min-height: 100%;
  margin-top: 2px;
  background-image: linear-gradient(to top, #001f5c00 0%, #ffffff00 rgba(253, 253, 253, 0)DFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  box-shadow: 0 4px 3px 1px #00000000, 0 6px 8px #00000000, 0 -4px 4prgba(0, 0, 0, 0)00, 0 -6px 4px #00000000, inset 0 0 3px rgba(0, 0, 0, 0)00;
  transition: all 0.2s ease;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  text-align: center;
}

.boton-save.icon{
  width: 150px;
  max-width: 150%;
  margin-top: 70%;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-top: 0%;
}

.boton-save.p{
  width: 150px;
  max-width: 150%;
  margin-top: 70%;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-top: -100%;
}

.boton-derecha{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.textoBoton{
  text-align: center;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 80px;
}

//otro tipo de boton
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container-noLido {
  display: flex;
  justify-content: center;
  width: 10%;
  background-color: rgba(112, 4, 4, 0.37);
  border-radius: 30%;
}

.example-button-container-Leido{
  display: flex;
  justify-content: center;
  width: 10%;
  background-color: rgba(6, 119, 57, 0.39);
  border-radius: 30%;
  
}

.estado-barra {
  width: 100%;
  height: 8px;
  background-color: #2196F3; /* Puedes cambiar según estado */
  transition: background-color 0.3s ease;
}

.estado-row td {
  padding: 0 !important;
}
.barra-verde { background-color: #4CAF50; }
.barra-amarilla { background-color: #FFEB3B; }
.barra-roja { background-color: #F44336; }

.alerta-hora {
  font-size: large;
	background: linear-gradient(-45deg, #d17e9b, #ffffff, #ffffff, #f3a8c2);
  background-color: #000000;
	background-size: 400% 400%;
  border-radius: 5%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
		
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.step-rojo .mat-step-header {
  background-color: #f44336 !important; /* rojo */
  color: white;
}

.step-azul .mat-step-header {
  background-color: #2196f3 !important; /* azul */
  color: white;
}
.semaforo.verde {
  background-color: #4caf50; /* verde */
}

.semaforo.amarillo {
  background-color: #ff9800; /* naranja */
}

.semaforo.rojo {
  background-color: #f44336; /* rojo */
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(1.05); }
  50% { transform: scale(1); }
  75% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.carta {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.carta.activa {
  animation: heartbeat 6s infinite;
  box-shadow: 0 0 15px rgb(255, 255, 255);
  border: 2px solid #ffffff;
  background-color: #00acce60;
}