@if(this.loading == true){
<mat-card appearance='outlined' class='loadingPanel'>
  <mat-card-content>
    <div class='loader'></div>
    <div class=' loadingPanelTitulo'></div>
  </mat-card-content>
</mat-card>
<mat-card appearance='outlined' class='loadingPanelTitulo'>
  <mat-card-content>
    <h5>Procesando</h5>
  </mat-card-content>
</mat-card>
} @else{
<mat-card appearance='outlined' class='card-primary back_light-title'>
  <div class='row'>
    <div class='col-3'>
      <button class='botonGris' (click)='goInicio()'>
        <mat-icon aria-hidden='false' aria-label='Example home icon' fontIcon=' keyboard_backspace'></mat-icon>
      </button>
    </div>
    <div class='col-6'>
      <mat-card-content>
        <p class='title'>Nuevo OFICIO</p>
      </mat-card-content>
    </div>
    <div class='col-3'>
      <button class='botonGris-icon' (click)='openHelper()'>
        <mat-icon aria-hidden='false' aria-label='Example home icon' fontIcon='help'></mat-icon>
      </button>
    </div>
  </div>
</mat-card>
<div>


  <mat-card appearance='outlined'>
    <mat-card-content>
      <form>
        <div class='row'>
          <div class='col-6'>
            <mat-card appearance="outlined" class="panelPdf">
              <mat-card-header>
                <mat-card-title> Adjunta el documento en formato (pdf) </mat-card-title>
              </mat-card-header>
              <mat-card-actions>
                <input type='file' (change)="getFile($event,'archivo_oficio')" class='botonFile'>
                @if(this.archivo_oficioImagen != ''){
                <object type='text/html' [data]='this.archivo_oficioImagen' ngDraggable
                  style="width: 100%; height:1000px;"></object>
                }
              </mat-card-actions>
            </mat-card>
          </div>
          <div class='col-6'>
            <div class='row'>
              <div class='col-6'>
                <mat-form-field class='example-full-width'>
                  <mat-label>OFICIO</mat-label>
                  <select matNativeControl [(ngModel)]='oficio' id='oficio' name='oficio' (change)="getOficio($event)">
                    <option *ngFor="let list_cat_oficios of listcat_oficios" [value]="list_cat_oficios.id_cat_oficio">
                      {{list_cat_oficios.descripcion}}
                    </option>
                  </select>
                </mat-form-field>
              </div>
              <div class='col-6'>
                <mat-form-field class='example-full-width'>
                  <mat-label>TIPO DE OFICIO</mat-label>
                  <select matNativeControl [(ngModel)]='tipo_oficio' id='tipo_oficio' name='tipo_oficio'
                    (change)="getTipoOficio($event)">
                    <option *ngFor="let list_cat_tipo_oficios of listcat_tipo_oficios"
                      [value]="list_cat_tipo_oficios.id_cat_tipo_oficios">{{list_cat_tipo_oficios.descripcion}}
                    </option>
                  </select>
                </mat-form-field>
              </div>
              <div class='col-6'>
                <mat-form-field class='example-full-width'>
                  <mat-label>FOLIO</mat-label>
                  <input type='text' matInput [(ngModel)]='folio' name='folio' id='folio' />
                </mat-form-field>
              </div>
              <div class='col-6'>
                <mat-form-field class='example-full-width'>
                  <mat-label>CASO / COP</mat-label>
                  <input type='text' matInput [(ngModel)]='caso_cop' name='caso_cop' id='caso_cop' />
                </mat-form-field>
                @if (errorcaso_cop) {
                <mat-error>Error: Falta descripción en este parámetro.</mat-error>
                }
              </div>
              <div class='col-6'>
                <mat-form-field class='example-full-width'>
                  <mat-label>NÚMERO DE OFICIO</mat-label>
                  <input type='text' matInput [(ngModel)]='numero_oficio' name='numero_oficio' id='numero_oficio' />
                </mat-form-field>
              </div>
              <div class='col-6'>
                <mat-form-field class="example-form-field example-full-width">
                  <mat-label>Seleccione la fecha de término</mat-label>
                  <input matInput [(ngModel)]="fecha_hora" [matDatepicker]="picker" [min]="hoy"
                    (click)="picker.open()" name="fecha_hora" id="fecha_hora" />
                  <mat-hint>Dia/Mes/Año</mat-hint>
                  <mat-datepicker #picker (dateInput)="picker.close()">
                  </mat-datepicker>
                </mat-form-field>
              </div>
              <div class='row mt-2'>
                <div class='col-12'>
                  <mat-form-field class='example-full-width'>
                    <mat-label>ASUNTO</mat-label>
                    <input type='text' matInput [(ngModel)]='asunto' name='asunto' id='asunto' />
                  </mat-form-field>
                  @if (errorasunto) {
                  <mat-error>Error: Falta descripción en este parámetro.</mat-error>
                  }
                </div>
              </div>
              <div class='row mt-2'>
                <div class='col-12'>
                  <mat-form-field class='example-full-width'>
                    <mat-label>CONTENIDO</mat-label>
                    <textarea type='text' matInput [(ngModel)]='contenido' name='contenido' id='contenido'
                      style="height: 712px; font-size: x-large; text-align: justify;"></textarea>
                  </mat-form-field>
                </div>
                @if (errorcontenido) {
                <mat-error>Error: Falta descripción en este parámetro.</mat-error>
                }
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
        </div>
        <div class="row">
          <div class="col-6">
            <app-nuevo-destinatario (destinatarioSeleccionado)="handleArea($event)"
              [id_gestion_oficio]="this.id_gestion_oficios"></app-nuevo-destinatario>
          </div>
          <div class="col-6">
            <app-nuevo_firmante (firmanteSeleccionado)="handleFirmante($event)"
              [id_gestion_oficio]="this.id_gestion_oficios"></app-nuevo_firmante>
          </div>
        </div>
        <hr>
        @if(banderaVerPanelFirmante){
        <div class="row mt-5">
          <div class="col-{{this.divFirmantes}}">
            <!-- aqui va informacion del firmante -->
            <mat-card class="card-destinatario mat-elevation-z6" appearance="outlined"
              style="background-color:#521d2ef3;">
              <p style="font-weight: bold; font-size: xx-large; text-align: center; color: white; margin-top: 5%;">Datos
                del Firmante</p>
              <br>
              <hr style="color: white;">
              <mat-card-content>
                <div class="row">
                  <div class="col-4 img-hover-zoom">
                    <img [src]='fotoFirmante' style="width: 50%;" class="img-hover-zoom">
                  </div>
                  <div class="col-8">
                    <p style="font-weight: bold; text-align: center; color: white; font-size: larger;">{{areaFirmante}}
                    </p>
                    <hr>
                    <p style="font-weight: bold; text-align: center; color: white; font-size: larger;">
                      {{nombreFirmante}}</p>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <div style="width: 100%;">
                  <a mat-fab extended (click)="cancelarFirmante()" class="btn-latido2 full-width-btn">
                    <mat-icon>dangerous</mat-icon>
                    Cancelar
                  </a>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-{{divDestinatarios}}">
            <!-- Destinatarios ----------------------------- -->
            @if(this.listDestinatario.length > 0){
            <div class="row">
              @for (item of listDestinatario; track item; let i = $index) {
              <!-- <div class='col-4'>
              
              </div> -->
              <div class='col-{{subDestinatarios}}'>
                <mat-card class="card-destinatario mat-elevation-z7" appearance="outlined">
                  <div class="row">
                    <div class="col-12">
                      <p
                        style="font-weight: bold; text-align: center; font-size: large; background-color: #521d2ef3; color: white;">
                        Destinatario número : {{i+1}}
                      </p>
                      <hr>
                    </div>
                  </div>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-4 img-hover-zoom">
                        <img [src]='item.foto' style="width: 100%;" class="img-hover-zoom">
                      </div>
                      <div class="col-8">
                        <p style="font-weight: bold; text-align: center;">{{item.text_direccion}} / {{item.area_texto}}
                        </p>
                        <hr>
                        <p style="font-weight: bold; text-align: center;">{{item.text_nombre_empleado}}</p>
                      </div>
                    </div>
                  </mat-card-content>

                  <p style="margin-left: 5%;">


                  </p>
                  <hr>
                  <mat-slide-toggle style="margin-left: 10%;" [checked]="item.con_copia === 1"
                    (change)="toggleCopiaConocimiento(item)">
                    Copia de Conocimiento : {{item.con_copia === 1 ? 'Sí' : 'No'}}
                  </mat-slide-toggle>
                  <div class="row">
                    <div class="col-12">
                      <a mat-fab extended class="btn-latido" (click)="cancelarDestinatario(item.id_cat_destinatario)">
                        Cancelar
                        <mat-icon style="margin-left: 8%;">cancelar</mat-icon>
                      </a>
                    </div>
                  </div>
                </mat-card>
              </div>
              }
            </div>
            }
            <!------------------------------------------------>
          </div>
        </div>
        }
        <hr>
        <!------------------------------------------>

        <div class='row mt-5'>
          <div class='col-6'></div>
          <div class='col-3 boton-derecha'>
            <div class='cont'>
              <div class='btn'>
                <button class='botonAlmacenar' (click)="save()">
                  <mat-icon aria-hidden='false' aria-label='Example home icon' fontIcon='check_small'
                    class='textoBoton'></mat-icon>
                  Finalizar
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
}