<mat-card appearance='outlined' class='card-primary back_light-title'>
  <mat-card-content>
    <p class='title'>Correspondencia General de oficios</p>
  </mat-card-content>
</mat-card>

@if(id_rol ==  1 || id_rol ==  2 ){

<div class='row mt-2'>
  <mat-card appearance='outlined'>
    <div class='row mt-2'>
      <mat-card-content>
        <mat-form-field  class='example-full-width'>
          <mat-label>Búsqueda </mat-label>
          <input matInput (keyup)='applyFilter($event)' placeholder='Escriba un parámetro para su búsqueda.' #input />
        </mat-form-field>

        <div class='mat-elevation-z8'>
          <table mat-table [dataSource]='dataSource' matSort>

            <ng-container matColumnDef='activo'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                activo
              </th>
              <td mat-cell *matCellDef='let element'
                [ngStyle]='{"background-color": cambiarColorActivo(element.activo)}'>
                {{ element.activo}}
              </td>
            </ng-container>
            <ng-container matColumnDef='id_usuario'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                id_usuario
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                {{ element.id_usuario}}
              </td>
            </ng-container>
            <ng-container matColumnDef='id_gestion_oficios'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                id gestion_oficios
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                {{ element.id_gestion_oficios}}
              </td>
            </ng-container>

            <ng-container matColumnDef='id_oficios'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                id_oficios
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                {{ element.id_oficios}} -{{element.numero_oficio}}
              </td>
            </ng-container>
            <ng-container matColumnDef='asunto'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Asunto
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                <p style="font-size: x-larger; text-align: justify; font-weight: bold;">{{ element.asunto}}</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="estatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Estatus
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-chip [color]="element.visual?.color" selected>
                  <mat-icon>{{ element.visual?.icon }}</mat-icon>
                  {{ element.visual?.label }}
                </mat-chip>
              </td>
            </ng-container>
            <ng-container matColumnDef='createdAt'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header
                style="font-size: 16px; padding: 16px 24px; min-width: 150px;">
                Fecha de término
              </th>
              <!-- <td mat-cell *matCellDef="let element">
                <div style="font-size: larger;">
                  <strong>petición de terminó:</strong> {{ element.fecha_terminacion | date: 'dd/MM/yyyy' }}
                </div>
                <div class="alerta-hora" style="display: flex; align-items: center; gap: 8px;">
                  <strong>Restante:</strong> {{ getTiempoRestante(element.fecha_terminacion) }}
                  <span class="semaforo" [ngClass]="getSemaforoColor(element.fecha_terminacion)"
                    style="width: 12px; height: 12px; border-radius: 50%; display: inline-block;"></span>
                </div>
              </td> -->
              <td mat-cell *matCellDef="let element">
                <app-contador-chip [fechaLimite]="element.fecha_terminacion"></app-contador-chip>
              </td>
            </ng-container>
            <ng-container matColumnDef='Funciones'>
              <th class='text-center' mat-header-cell *matHeaderCellDef>
                Funciones
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                <div class='example-flex-container text-center'>

                  @if(element.id_gestion_oficios != null ){
                  <button mat-mini-fab aria-label='Example icon button with a menu icon'
                    style='background-color: rgb(250, 250, 250)' matTooltip='Ver el registro'
                    (click)='vercorrespondencia(element.id_gestion_oficios,element.id_oficio)'>
                    <mat-icon>visibility</mat-icon>
                  </button>

                  <!-- @if(this.edit == '1'){
                  <button mat-mini-fab aria-label='Example icon button with a menu icon'
                    style='background-color: rgb(245, 188, 0)' matTooltip='Modificar el registro'
                    (click)='updategestion_oficios(element.id_gestion_oficios,element.id_oficios,element.estatus)'>
                    <mat-icon style='color: rgb(0, 0, 0)'>edit</mat-icon>
                  </button>
                  } -->

                  <!-- @if(this.elim == '1'){
                  <button mat-mini-fab aria-label='Example icon button with a menu icon'
                    style='background-color: rgb(126, 0, 0)' matTooltip='Eliminar el registro'
                    (click)='Deletegestion_oficios(element.id_gestion_oficios)'>
                    <mat-icon style='color: rgb(255, 255, 255)'>delete</mat-icon>
                  </button>
                  } -->
                  }
                  @if(element.finalizado == '2'){
                  <p>El trámite está siendo evaluado</p>
                  }
                  @if(element.finalizado == '3'){
                  <p>Tramite Finalizado</p>
                  }
                  @if(element.finalizado == '4'){
                  <p>Tramite Evaluado con Errores</p>
                  <button mat-mini-fab aria-label='Example icon button with a menu icon'
                    style='background-color: rgb(126, 0, 0)' matTooltip='Ver Evaluacion'
                    (click)='editarVerificaciongestion_oficios(element.id_gestion_oficios,element.id_oficios)'>
                    <mat-icon style='color: rgb(255, 255, 255)'>edit_square</mat-icon>
                  </button>
                  }
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
            <tr mat-row *matRowDef='let row; columns: displayedColumns'></tr>

          </table>


          <mat-paginator [pageSizeOptions]='[5, 10, 20]' showFirstLastButtons
            aria-label='Select page of periodic elements'>
          </mat-paginator>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
}