<mat-card appearance='outlined' class='card-primary back_light-title'>
  <mat-card-content>
    <p class='title'>usuarios_opdm</p>
  </mat-card-content>
</mat-card>
@if(this.nuev  == '1'){
<div class='row'>
  <div class='col-3'>
    <mat-card (click)='agregarusuarios_opdm($event)' class='carta'>
      <div class='icono'>
        <i class='material-icons md-36'>add_circle</i>
      </div>
      <mat-card-header>
        <mat-card-title class='titulo'>
          <p></p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class='texto'>Agregar usuarios_opdm </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class='col-3'>
    <mat-card (click)='vertodo()' class='carta'>
      <div class='icono'>
        <i class='material-icons md-36'>visibility</i>
      </div>
      <mat-card-header>
        <mat-card-title class='titulo'>
         <p></p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class='texto'>Ver todos los registros </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class='col-3'>
    @if(activo == 1){
      <mat-card (click)='activadoDesactivado(1)' class='carta'>
        <div class='icono'>
          <i class='material-icons md-36'>toggle_on</i>
        </div>
        <mat-card-header>
          <mat-card-title class='titulo'>
            <p></p>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class='texto'>Ver parametros Activos</p>
        </mat-card-content>
      </mat-card>
    }
    @else {
      <mat-card (click)='activadoDesactivado(0)' class='carta'>
        <div class='icono'>
          <i class='material-icons md-36'>toggle_off</i>
        </div>
        <mat-card-header>
          <mat-card-title class='titulo'>
            <p></p>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class='texto'>Ver parametros desactivos </p>
        </mat-card-content>
      </mat-card>
    }
  </div>
  <div class='col-3'>
    <mat-card (click)='exportAsXLSX()' class='carta'>
      <div class='icono'>
        <i class='material-icons md-36'>table_view</i>
      </div>
      <mat-card-header>
        <mat-card-title class='titulo'>
          <p></p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class='texto'>Generar Excel usuarios_opdm </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class ='row'>
    @for (item of listEstatus; track item) {
     <div class = 'col-1'>
       <button class='botonGris-icon' (click)='goMenu(item.id_estatususuarios_opdm)'> 
         <mat-icon 
           aria-hidden='false' 
           aria-label='Example home icon' 
           fontIcon='table' 
           [ngStyle]='{"background-color": cambiarColor(item.id_estatususuarios_opdm)}' 
         ></mat-icon> 
         {{ item.descripcion }}
       </button>
     </div>
    }
  </div>
</div>
}
<div class='row mt-2'> 
  <mat-card appearance='outlined'> 
    <div class='row mt-2'> 
      <mat-card-content> 
        <mat-form-field> 
          <mat-label>Búsqueda </mat-label> 
          <input 
            matInput 
            (keyup)='applyFilter($event)' 
            placeholder='Escriba un parámetro para su búsqueda.' 
            #input 
          /> 
        </mat-form-field> 
 
        <div class='mat-elevation-z8'> 
          <table mat-table [dataSource]='dataSource' matSort> 
            <ng-container matColumnDef='activo'>   
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                activo
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColorActivo(element.activo)}'>
                {{ element.activo}}
              </td>
            </ng-container>
            <ng-container matColumnDef='id_usuarios_opdm'>   
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                id usuarios_opdm
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                {{ element.id_usuarios_opdm}}
              </td>
            </ng-container>
            <ng-container matColumnDef='id_usuario'>   
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                id_usuario
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                {{ element.id_usuario}}
              </td>
            </ng-container>
            <ng-container matColumnDef='id_users_opdm'>   
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                id_users_opdm
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                {{ element.id_users_opdm}}
              </td>
            </ng-container>
            <ng-container matColumnDef='estatus'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                estatus
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.id_estatususuarios_opdm)}'>
                {{ element.estatus }}
              </td>
            </ng-container> 
            <ng-container matColumnDef='createdAt'>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha de creación
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                {{ element.createdAt }}
              </td>
            </ng-container> 
            <ng-container matColumnDef='Funciones'>
              <th class='text-center' mat-header-cell *matHeaderCellDef>
                Funciones
              </th>
              <td mat-cell *matCellDef='let element' [ngStyle]='{"background-color": cambiarColor(element.estatus)}'>
                <div class='example-flex-container text-center'>
                  <button  (click)='openHelper(element.id_estatusreporteador)'
                    mat-mini-fab
                    aria-label= 'Example icon button with a menu icon'
                    style= 'background-color: rgb(250, 250, 250)'
                    matTooltip= 'Modificar Estatus del registro'
                  >
                    <mat-icon style= 'color: rgb(0, 0, 0)'>login</mat-icon>
                  </button>
                  @if(element.finalizado  == '0'){
                    <button
                      mat-mini-fab
                      aria-label= 'Example icon button with a menu icon'
                      style= 'background-color: rgb(0, 98, 245, 0.288)'
                      matTooltip= 'Modificar el registro'
                      (click)= 'continuarTramite(element.PaginaActual,element.id_usuarios_opdm)'
                    >
                      <mat-icon style= 'color: rgb(0, 0, 0)'>login</mat-icon>
                    </button>
                  }
                    @if(element.id_users_opdm != null ){
                      <button
                        mat-mini-fab
                        aria-label= 'Example icon button with a menu icon'
                        style= 'background-color: rgb(250, 250, 250)'
                        matTooltip= 'Ver el registro'
                        (click)= 'verusuarios_opdm(element.id_usuarios_opdm,element.id_users_opdm)'
                      >
                        <mat-icon>visibility</mat-icon>
                      </button>

                      @if(this.edit  == '1'){
                        <button
                          mat-mini-fab
                          aria-label= 'Example icon button with a menu icon'
                          style= 'background-color: rgb(245, 188, 0)'
                          matTooltip= 'Modificar el registro'
                           (click)= 'updateusuarios_opdm(element.id_usuarios_opdm,element.id_users_opdm,element.estatus)'
                        >
                          <mat-icon style= 'color: rgb(0, 0, 0)'>edit</mat-icon>
                        </button>
                      }

                      @if(this.elim  == '1'){
                         <button
                           mat-mini-fab
                           aria-label= 'Example icon button with a menu icon'
                           style= 'background-color: rgb(126, 0, 0)'
                           matTooltip= 'Eliminar el registro'
                           (click)= 'Deleteusuarios_opdm(element.id_usuarios_opdm)'
                         >
                           <mat-icon style= 'color: rgb(255, 255, 255)'>delete</mat-icon>
                         </button>
                      }
                    }
                  @if(element.finalizado  == '2'){
                    <p>El trámite está siendo evaluado</p>
                  }
                  @if(element.finalizado  == '3'){
                    <p>Tramite Finalizado</p>
                  }
                  @if(element.finalizado  == '4'){
                    <p>Tramite Evaluado con Errores</p>
                         <button
                           mat-mini-fab
                           aria-label= 'Example icon button with a menu icon'
                           style= 'background-color: rgb(126, 0, 0)'
                           matTooltip= 'Ver Evaluacion'
                           (click)= 'editarVerificacionusuarios_opdm(element.id_usuarios_opdm,element.id_users_opdm)'
                         >
                           <mat-icon style= 'color: rgb(255, 255, 255)'>edit_square</mat-icon>
                         </button>
                  }
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
            <tr mat-row *matRowDef='let row; columns: displayedColumns'></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]='[5, 10, 20]'
            showFirstLastButtons
            aria-label='Select page of periodic elements'
          >
          </mat-paginator>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
