<mat-card appearance='outlined' class='card-primary back_light-title'>
  <div class='row'>
    <div class='col-3'>
      <button class='botonGris' (click)='goInicio()'>
        <mat-icon
          aria-hidden='false'
          aria-label='Example home icon'
          fontIcon=' keyboard_backspace'
        ></mat-icon>
      </button>
    </div>
  </div>
</mat-card>
@if(this.id_users_opdm != 'null'){ 
    <app-actualizar-users_opdm [peticionVerificacion]  = 'comandoVerificacionusers_opdm' (enviarRespuestaVerificacion)='recibirMensajeusers_opdm($event)' [peticionActualizacion] = 'comandoActualizarusers_opdm ' (enviarRespuestaActualizacion)='recibirMensajeActualizacionusers_opdm($event)'></app-actualizar-users_opdm> 
}
<div class='row mt-5'>
  <div class='col-6'></div>
  <div class='col-3 boton-derecha'>
    <div class='cont'>
      <div class='btn'>
        <button class='botonAlmacenar' (click)="comandoVerificacionActualizacion()">
          <mat-icon
            aria-hidden='false'
            aria-label='Example home icon'
            fontIcon='tv_options_edit_channels'
            class='textoBoton'
          ></mat-icon>
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
